---
import PostLayout from '../layouts/PostLayout.astro';
import LitanyRenderer from "../components/LitanyRenderer.astro";
import litanyData from '../json/holy_spirit.json';


---

<PostLayout title="The Litany of the Sacred Heart of Jesus">
	<LitanyRenderer data={ litanyData } />
	<p>
		Holy and divine Spirit,

		<b class='response'>leave us not until we are in possession of the Divine Essence, Heaven of heavens.</b>

		Lamb of God, Who takest away the sins of the world,

		<b class='response'>Send us the divine Consoler.</b>

		Lamb of God, Who takest away the sins of the world,

		<b class='response'>Fill us with the gifts of Thy Spirit.</b>

		Lamb of God, Who takest away the sins of the world,
		<b class='response'>Make the fruits of the Holy Spirit increase within us.</b>

		Come, O Holy Spirit, fill the hearts of Thy faithful,

		<b class='response'>And enkindle in them the fire of Thy love.</b>

		Send forth Thy Spirit and they shall be created,

		<b class='response'>And Thou shalt renew the face of the earth.</b>

		Let Us Pray.<br>
		God, Who by the light of the Holy Spirit instructed the hearts of the faithful, 
		grant us by the same Spirit to be truly wise and ever to rejoice in His consolation.<br>
		Through Jesus Christ Our Lord, Amen.
	</p>
</PostLayout>
