---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="The Litanies">
	<!-- Hero section -->
	

	<main class='py-20 px-5 flex justify-center'>
		<section class='card-container max-w-screen-xl w-[100%]'>
			<Card href='/litanies/sacred_heart' title='Litany of the Sacred Heart of Jesus' img='/litanies/img/sacred_heart.png' />
			<Card href='/litanies/loreto' title='Litany of Loreto' img='/litanies/img/mary.jpg' />
			<Card href='/litanies/holy_spirit' title='Litany of the Holy Spirit' img='/litanies/img/holy_spirit.jpg' />
		</section>
	</main>
</Layout>
