---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="The Litanies">
	<!-- Hero section -->
	

	<main class='py-20 px-5 flex justify-center'>
		<section class='card-container max-w-screen-xl w-[100%]'>
			<Card href='/sacred_heart' title='Litany of the Sacred Heart of Jesus' img='/img/sacred_heart.png' />
			<Card href='/loreto' title='Litany of Loreto' img='/img/mary.jpg' />
			<Card href='/holy_spirit' title='Litany of the Holy Spirit' img='/img/holy_spirit.jpg' />

			<Card title='Card' />
			<Card title='Card' />
			<Card title='Card' />
			<Card title='Card' />
			<Card title='Card' />
			<Card title='Card' />
		</section>
	</main>


	<footer class='footer h-[10vw] grid place-content-center bg-slate-200'>
		<p>The Litanies Website</p>
	</footer>
</Layout>
