---
interface Props {
	title: string;
	href?: string;
	description?: string;
}

const { href, title, description } = Astro.props;
---

<a class='card' href={ href }>
	<div class='card__content p-5'>
		<h2>{ title }</h2>
		<p>{ description }</p>
	</div>
</a>

