---
interface Props {
    data: Array<object>;
}

const { data } = Astro.props;
---

{data.map(section => (
<div>
    {section.prayers && (
        // For prayers with the same response
        <>
        {section.prayers.map(p => (
            <div class='mb-6'>
                <p class='prayer'>{p}</p>
                <b class='response'>{section.res}</b>
            </div>
        ))}
        </>
    )}

    
    {section.prayer && (
        // For an individual prayer
        <div class='mb-6'>
            <p class='prayer'>{ section.prayer }</p>
            <b class='response'>{section.res}</b>
        </div>
    )}
    <br>
</div>
))}
