---
import Prayer from "./Prayer.astro";
import Prayers from "./Prayers.astro";
import type { PrayerType, PrayersType } from "../types.mts";

interface Props {
    data: Array<PrayerType> | Array<PrayersType>;
}


const { data } = Astro.props;
---

{data.map(section => (

<div>
    { section.prayers 
        ? <Prayers content={ section.prayers } res={ section.res }/>
        : <Prayer content={ section.prayer } res={ section.res }/>
    }
    <br>
</div>

))}
