---
interface Props {
	title: string;
	description?: string;
	heroImg?: string;
}

const { title, description, heroImg } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="A collection of the holy litanies." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/litanies/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/litanies/output.css">
		<title>{title}</title>
	</head>
	<body>
		<header style={ `background-image: url(${ heroImg })` } class='hero text-white text-center h-[25vw] grid place-items-center bg-slate-500'>
			<div class="hero__overlay overlay"></div>
			<div class="hero__content">
				<h1 class='text-5xl font-bold'>{ title }</h1>
				<p>{ description }</p>
			</div>
		</header>

		<slot />
		<footer class='footer h-[10vw] grid place-content-center bg-slate-200'>
			<p>The Litanies Website</p>
		</footer>
	</body>
</html>
